<!-- Add user -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modelUserAdd" id="modelUserAdd">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add User</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" id="userAddForm">
					<label class="control-label" for="inputDefault">Student Name</label>
					<input type="text" class="form-control" id="userAddName">
				</div>
			</div>
			<div id="stage-start">
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" id="addStudent">Add Student</button>
				</div>
			</div>
			<div id="stage-end" style="display:none;">
				<div class="panel panel-info">
					<div class="panel-heading">Login Code</div>
					<div class="panel-body" id="userAddReturnCode"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="addStudentClose" data-dismiss="modal">Okay Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
