---
layout: default-clean
title: Manage Users
permalink: admin
---
{% include userModals.html %}
<div class="container content">
	<ul class="user-cards">
		<li class="card">
			<div class="card-icon">
				<i class="fa fa-user-plus" aria-hidden="true"></i>
			</div>
			<div class="card-link">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelUserAdd">Add Student</button>
			</div>
		</li>
		<li class="card">
			<div class="card-icon">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>
			<div class="card-link">
				<button type="button" class="btn btn-primary">View Student</button>
			</div>
		</li>
		<li class="card">
			<div class="card-icon">
				<i class="fa fa-user-times" aria-hidden="true"></i>
			</div>
			<div class="card-link">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelUserRemove" id="modelUserRemoveBtn">Remove Student</button>
			</div>
		</li>
	</ul>
	<script type="application/dart" src="{{ site.url }}/{{ site.url_dir }}/assets/script/dart/util/user_app.dart"></script>
	{% include footer.html %}
</div>
