<!-- Frequently Asked Questions -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modelFAQ" id="modelFAQ">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Frequently Asked Questions</h4>
			</div>
			<div class="modal-body">
				<p>
					PLACEHOLDER
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Report an Issue -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modelIssue" id="modelIssue">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Report an issue</h4>
			</div>
			<div class="modal-body">
				<p>
					I am very sorry that there are problems<br>
					Please let me know what is wrong via the <a href="https://github.com/GOGO98901/computing-project/issues">github issue tracker</a>, or send an email to <a href="mailto:{{site.email}}">{{site.email}}</a>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- About -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modelAbout" id="modelAbout">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">About</h4>
			</div>
			<div class="modal-body">
				<p>
					This game is my project for my <a href="https://en.wikipedia.org/wiki/GCE_Advanced_Level_(United_Kingdom)">A Level</a> <a href="http://www.aqa.org.uk/subjects/computer-science-and-it/as-and-a-level">Computer science</a> project.
					<br>
					PLACEHOLDER
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
