$S: $screen-lg;
$M: $screen-md-min;
$L: $screen-lg-min;

@mixin MQ($canvas) {
	@if $canvas == S {
		@media only screen and (min-width: $S) { @content; }
	}
	@else if $canvas == M {
		@media only screen and (min-width: $M) { @content; }
	}
	@else if $canvas == L {
		@media only screen and (min-width: $L) { @content; }
	}
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}

// http://stackoverflow.com/a/4407335/4498839
@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
